
@model int

<a asp-action="EditCoupon" asp-route-Id="@Model" class="btn btn-outline-dark ">
    <i class="fas fa-pen"></i>
</a>
<a asp-action="DeleteCoupon" asp-controller="Coupon" asp-route-Id="@Model" class="btn btn-outline-dark">
    <i class="far fa-trash-alt"></i>
</a>

