@model Category

<br />
<br />

<div class="panel-body content-form" style="width:600px; margin: auto">
    <form class="P" asp-action="AddCategory" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger">  </div>
        <div class="form-group">
            <label asp-for="Name">Category Name:</label>
            <div><span asp-validation-for="Name" class="text-danger"></span></div>
            <input style="max-width:450px"class="form-control" asp-for="Name" />
        </div>
       <button class="btn btn-dark" type="submit"><i class="fas fa-plus"></i> Add</button>
        <a asp-action="Index" class="btn btn-dark">Cancel</a>     
    </form>
</div>


